<bindable name="label"></bindable>
<bindable name="options"></bindable>
<bindable name="selected" mode="two-way"></bindable>

<containerless/>

<label class="block flex rounded-md shadow-sm">
  <div class="inline-flex
              rounded-l-md
              border border-r-0
              pl-3 pr-1
              text-lg
              border-slate-500 bg-slate-100 text-slate-900
              items-right align-bottom
              select-none">
    ${label}
  </div>
  <select class="block
                  flex-1 w-full
                  rounded-none rounded-r-md
                  pl-1 pr-3
                  text-lg
                  border-slate-500 text-slate-900
                  focus:border-teal-600
                  items-left align-bottom"
          value.bind="selected">
    <option repeat.for="optionName of options">
      ${optionName}
    </option>
  </select>
</label>
